@font-face {
    font-family: 'Roadway';
    src: url('https://portfoliomt.com/views/css/fonts/Roadway.eot');
    src: url('https://portfoliomt.com/views/css/fonts//Roadway.eot?#iefix') format('embedded-opentype'),
        url('https://portfoliomt.com/views/css/fonts//Roadway.woff2') format('woff2'),
        url('https://portfoliomt.com/views/css/fonts//Roadway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

