body {
    background-color: #e7e7e7;
    height: 300vh;
    font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: line-through;
}

ul {
  list-style-type: none;
}

img {
 height: 100%;
 width: 100%;
}

#backButton {
  margin-top: 10vh;
  margin-bottom: -10vh;
}

.artBorder {
 border: 1px solid black;   
}

.artBorder:hover {
  opacity: 0.3;
}


.navbar-brand {
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 36px;
    color: antiquewhite;
}

.navbar {
    position: fixed;
    text-align: center;
    align-content: center;
    z-index: 1;
    overflow: visible;
    height: 0px;
 
}

.row {
    z-index: -1;
}

#firstRow {
    margin-top: 500px;
    margin-left: 25%;
}

#title {
  position: relative;
  /*margin: 60% auto;*/
  /*color: lightslategray;*/
  color: inherit;
  font-size: 10em;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  /*z-index: 1;*/
  float: left;
  margin-top: 60vh;
  text-align: left;
}


img {
  height: auto;
  width: 100%;
}

.sideMenu {
    margin-top: 20vh;
    font-size: 5em;
    color: #7ff4a6;
    /*text-shadow: -4px 2px #ddbff2;*/
}

.audioDiv {
  color: #ddbff2;;
  /*margin: 5% auto;*/
  font-size: 2em;
  text-align: left;
}

/*landing page*/

.landingMenu {
  font-size: 6em;
  margin-top: 15%;
  color:#edab93;
}

.landingText {
  color: black;
}

#titleText {
  margin-top: 25%;
  margin-bottom: -10%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3em;

}

#enter {
  position: relative;
  margin: 35% auto;
  color: white;
  /*text-shadow: -1px 2px white;*/
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}


/*Masonry Grid*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    font-family: 'Inconsolata', monospace;


    
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    text-align: right;
}

/* The Masonry Container */
.masonry {
  margin: 1.5em auto;
  max-width: 80%;
  column-gap: 1.5em;
  margin-left: 30%;

}

/* The Masonry Brick */
.item {
  background: #e7e7e7;
  padding: 1em;
  margin: 0 0 1.5em;
  padding-left: 10vh;
  /*text-align: right;*/
}

.workHeader {
  background: #e7e7e7;
  padding: 1em;
  margin: 0 0 1.5em;
  padding-left: 10vh;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 6em;
  margin-bottom: -2%;
}

.workItem {
  background-color: #e1e1e1;
  padding: 1em;
  margin: 0 0 1.5em;
  padding-left: 10vh;
  height: 100%;
  width: 100%;
  text-align: right;
  color: inherit;
}

.workItem h1 {
  font-size: 2em;
}

.workItem h1:hover {
  color: white;
  text-decoration: line-through;
}




/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 1;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 1;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px){
  .masonry {
    column-count: 1;
    display: none;
  }
}

#mainGlitch {
  color: white;
  margin: 5% auto;
  text-shadow: -4px 7px white;

}

#sideGlitch {
  color: black;
  margin: 0 auto;
  /*text-shadow: -4px 7px white;*/


}


@media only screen and (max-width: 1500px) and (min-width: 768px) {
  #mainGlitch {
    margin: 5% auto;
    font-size: 5em;
  }
}

@media only screen and (max-width: 767px) {
  #mainGlitch {
    margin:auto;
    font-size: 1em;
  }
}


/*Glitch Effect*/


.sideGlitch {
  position: relative;
  color: #black;
  font-family: 'Inconsolata', monospace;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.sideGlitch::before, .sideGlitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #e7e7e7 ;
  color: black;
  clip: rect(0, 900px, 0, 0);
}
.sideGlitch::before {
  left: 700px;
  /*text-shadow: 10px 0 #bfebf1;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}
.sideGlitch::after {
  right: 30px;
  /*text-shadow: -10px 0 #ffadd8;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}

 .glitch {
  position: relative;

  margin: 35% auto;
  /*color: lightslategray;*/
  color: white;
  font-size: 10em;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: black ;
  color: white;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 700px;
  /*text-shadow: 10px 0 #bfebf1;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}
.glitch::after {
  right: 30px;
  /*text-shadow: -10px 0 #ffadd8;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(57px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(16px, 9999px, 12px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 71px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 56px, 0);
  }
  20% {
    clip: rect(49px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 73px, 0);
  }
  30% {
    clip: rect(84px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(95px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(62px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(11px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(97px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(34px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(56px, 9999px, 24px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 76px, 0);
  }
  85% {
    clip: rect(59px, 9999px, 1px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 74px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(57px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(16px, 9999px, 12px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 71px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 56px, 0);
  }
  20% {
    clip: rect(49px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 73px, 0);
  }
  30% {
    clip: rect(84px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(95px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(62px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(11px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(97px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(34px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(56px, 9999px, 24px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 76px, 0);
  }
  85% {
    clip: rect(59px, 9999px, 1px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 74px, 0);
  }
}

.glitch a:hover {
  color: #adffb6;
}


/*IDS*/

#sidebar {
    position: fixed;
    height: 80%;
    width: 40%;
    background-color: #e7e7e7;
    overflow: hidden;
    /*z-index: -1;*/
}

#landing {
  position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
