<!DOCTYPE html>
<html>
<head>
    
    
    
  <title>Computer Science</title>



  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Font Files -->
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

  <!-- Custom css file -->
  <link rel="stylesheet" type="text/css" href="../css/styleCS.css">

</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <span id="mainGlitch" class="navbar-brand mb-0 h1 glitch" data-text="Portfolio by MT"><a href="../index.html">Portfolio by MT</a></span>
    </nav>
    
    <!-- <div class="row">
        
        <div id="sidebar" class="col-sm-3">
            <div class="container">

                
                <ul class="sideMenu">
                    <li><a href="views/cs.html">Computer Science</a></li>
                    <li><a href="views/audio.html">Audio</a></li>
                    <li><a href="views/visual.html">Visual</a></li>
                    <li><a href="views/about.html">About</a></li>
                    <li><a>Store</a></li>
                
                </ul> -->
                <!-- <div class="audioDiv">
                  <h4  class="audioSequence" >PRESS PLAY FOR THE FULL EXPERIENCE</h4>
                  <audio class="audioSequence" controls> 
                    <source src="cargo joggers.m4a">
                  </audio>
                  <h4  class="audioSequence" >CARGO PANTS by MT</h4>
                </div>
                
            </div>
            
        </div>
    
    </div> -->
    
    <div class="container">
    
        
        <div class="row" id="firstRow">
            <h1 id="spinner" class="audioText">PROJECTS COMING SOON</h1>
            
            <div class="masonry">
               <div class="item">
                  
                  <h1><a href="https://github.com/mitthoma">GITHUB --></a></h1>
                  

               </div>

               <div class="item">
                  
                    
                </div>
                <div class="item"> 
                  
                  

                </div>
                <div class="item">
                  
                </div>
                
               
            </div>
        
        
        
        </div>
    
    
    
    </div>
    
    
    
  
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!-- Custom Script.js -->
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>