<!DOCTYPE html>
<html>
<head>
	<title>Sand Test</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js"></script>
</head>
<body>

<!-- <div>
	<div id="controls"></div>
</div> -->

<div class="container">
	<div class="Title">
		<h1>BLAC_SAND.IO</h1>
		<!-- <h1 id="test_title">BLAC_SAND</h1> -->

	</div>
	<div id="container2">
		<h2>development + design + ai </h2>
	</div>
	<div id="menuContainer">
		<a href="google.com"><p>who are we</p></a>
		<p>contact</p>
	</div>

<div class="view">
  <div class="plane">
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>
    <div class="cube">
      <div class="face x"></div>
      <div class="face y"></div>
      <div class="face z"></div>
    </div>

  </div>
</div>

<!-- <div class="preloader-scan">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
    <div class="diode">
      <div class="laser"></div>
    </div>
  </ul>
  
</div> -->

</div>


<script src="js/script.js"></script>
<!-- <script src="js/copyshader.js"></script>
<script src="js/datgui.js"></script>
<script src="js/effectcomposer.js"></script>
<script src="js/fxaashader.js"></script>
<script src="js/gltfloader.js"></script>
<script src="js/luminosityhighpass.js"></script>
<script src="js/objloader.js"></script>
<script src="js/orbitcontrol.js"></script>
<script src="js/renderpass.js"></script>
<script src="js/shaderpass.js"></script>
<script src="js/simplexnoise.min.js"></script>
<script src="js/three.js"></script>
<script src="js/threemeshline.js"></script>
<script src="js/unrealbloompass.js"></script> -->
</body>
</html>
