<!DOCTYPE html>
<html>
<head>
    
    
    
	<title>PORTFOLIO</title>



	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Font Files -->
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="../favicons/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="../favicons/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../favicons/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="../favicons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16.png">
  <link rel="apple-touch-icon" href="../favicons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../favicons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../favicons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../favicons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../favicons/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../favicons/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../favicons/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../favicons/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->

	<!-- Custom css file -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <span id="title" class="" ><a href="#">Portfolio by MT</a></span>
    </nav>


    
    <div class="row">
        
        <div id="sidebar" class="col-sm-3">
            <div class="container">

                
                <ul class="sideMenu">
                    <a href="work.html"><li id="sideGlitch" class="sideGlitch" data-text="11111100101111110001100">_W0RK</li></a>
                    <a href="art.html"><li id="sideGlitch" class="sideGlitch" data-text="01110011">AUD_I0</li></a>
                    <a id="sideOptions" href="https://medium.com/@thomasma828"><li id="sideGlitch" class="sideGlitch" data-text="101100101011101">BL0G</li></a>
                    <!-- <li><a>Store</a></li> -->
                
                </ul>
                <!-- <div class="audioDiv">
                  <h4  class="audioSequence" >PRESS PLAY FOR THE FULL EXPERIENCE</h4>
                  <audio class="audioSequence" controls> 
                    <source src="cargo joggers.m4a">
                  </audio>
                  <h4  class="audioSequence" >CARGO PANTS by MT</h4>
                </div> -->
                
            </div>
            
        </div>
    
    </div>
    
    <div class="container">
    
        
        <div class="row" id="firstRow">
            
            
            <div class="masonry">
               <div class="item">

                  <a href="#"><h1 >MITCHELL_THOMAS</h1></a>
                  <!-- <br>
                  <h2>COMPUTER SCIENTIST / WEB DEVELOPER / MUSICIAN</h2>
                  <br> -->
                  <h3>
                    <ul>
                      <li>COMPUTER_SCIENCE</li>
                      <li>AI_SPECIALIZATION</li>
                      <li>WEB_DEVELOPER</li>
                      <li>FOUNDER_BLACSAND</li>
                      <li>MUSICIAN</li>
                    </ul>
                  </h3>

                  
                  <div >
                    

                    <h3><span class="tech_specs">TECHNICAL_SPECIFICATIONS</span></h3>
                      <ul>
                        <li ><span class="tech_specs">PYTHON</span></li>
                        <li ><span class="tech_specs">JAVA</span></li>
                        <li ><span class="tech_specs">JAVASCRIPT</span></li>
                        <li ><span class="tech_specs">NODE.JS</span></li>
                        <li ><span class="tech_specs">EXPRESS_API</span></li>
                        <li ><span class="tech_specs">MONGO_DB</span></li>
                        <li ><span class="tech_specs">REACT_FRAMEWORK</span></li>
                        <li ><span class="tech_specs">SCI-KIT_LEARN</span></li>
                        <li ><span class="tech_specs">HTML/CSS</span></li>
                        <li ><span class="tech_specs">ANDROID_APP_DEVELOPMENT</span></li>


                      </ul>
                  </div>

                  
                  
                  <br>
                  <h3><a href="https://github.com/mitthoma">github</a></h3>

                  <h3><a href="https://www.instagram.com/mitchellsweatshirt/">instagram</a></h3>

                  <h3><a href="mailto:mitthoma@gmail.com">email: mitthoma@gmail.com</a></h3>

               </div>
                
               
            </div>
        
        
        
        </div>
    
    
    
    </div>
    
    
    
	
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!-- Custom Script.js -->
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
