<!DOCTYPE html>
<html>
<head>
    
    
    
  <title>work</title>



  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Font Files -->
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="../favicons/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="../favicons/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../favicons/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="../favicons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16.png">
  <link rel="apple-touch-icon" href="../favicons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../favicons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../favicons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../favicons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../favicons/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../favicons/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../favicons/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../favicons/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->

  <!-- Custom css file -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <span id="title" class="" > ---> WORK</span>
        
        
    </nav>
    
    <div class="row">
        
        <div id="sidebar" class="col-sm-3">
            <div class="container">

                <h3 id="backButton"><a href="landing.html"><---back</a></h3>
                <ul class="sideMenu">
                    <li id="sideGlitch" class="sideGlitch" data-text="11111100101111110001100"><a href="work.html">Work</a></li>
                    <li id="sideGlitch" class="sideGlitch" data-text="01110011"><a href="art.html">Art</a></li>
                    <li id="sideGlitch" class="sideGlitch" data-text="101100101011101"><a id="sideOptions" href="https://medium.com/@thomasma828">Blog</a></li>
                    <!-- <li><a>Store</a></li> -->
                
                </ul>

                <!-- <div class="audioDiv">
                  <h4  class="audioSequence" >PRESS PLAY FOR THE FULL EXPERIENCE</h4>
                  <audio class="audioSequence" controls> 
                    <source src="cargo joggers.m4a">
                  </audio>
                  <h4  class="audioSequence" >CARGO PANTS by MT</h4>
                </div> -->
                
            </div>
            
        </div>
    
    </div>
    
    <div class="container">
    
        
        <div class="row" id="firstRow">
            
            
            <div class="masonry">

              <!-- <div class="workHeader">

                <h1>projects are coming to github soon.</h1>

               </div> -->

               <br>
               <br>

               <div class="workHeader">

                <h1>MACHINE LEARNING</h1>

               </div>

               <a href="#">
                <div class="workItem">

                <h1><span class="arrow">--></span>MLP Neural Network from scratch</h1>
                <br>
                <h4>Multilayer Perceptron built from scratch tested on a flower dataset in Python.</h4>

               </div>
               </a>

               <a href="#">
                <div class="workItem">

                <h1><span class="arrow">--></span>Comparing Performance of SVM with MLP</h1>
                <br>
                <h4>Comparing support vector machine and multilayer perceptron machine learning models on a wine data set in Python.</h4>

               </div>
               </a>

               <div class="workHeader">

                <h1>BLOCKCHAIN</h1>

               </div>

               <a href="#">
                <div class="workItem">

                <h1><span class="arrow">--></span>Lembas Cryptocurrency</h1>
                <h4>Full stack development of a complete cryptocurrency with full functionality.</h4>

               </div>
              </a>

               <div class="workHeader">

                <h1>WEB DEVELOPMENT</h1>

               </div>

               <a href="#">
                <div class="workItem">

                <h1><span class="arrow">--></span>This Is Orlando</h1>
                <br>
                <h4>This Is Orlando campaign landing page.  Released to 53k followers on @orlando Instagram</h4>

               </div>
              </a>

               <a href="#">
                <div class="workItem">

                <h1><span class="arrow">--></span>YelpCamp (fullstack)</h1>
                <br>
                <h4>Full stack development of a campsite review site. Functionality includes cultivating a community around camping with features such as member login, rating and commenting, and campground photography submissions.</h4>

               </div>
              </a>

               <a href="#">
                <div class="workItem">

                <h1><span class="arrow">--></span>A Cut Above</h1>
                <br>
                <h4>Front end development of a website for a local beauty salon.</h4>
                
               </div>
              </a>

               <div class="workHeader">

                <h1>OTHER PROJECTS</h1>

               </div>
                
               
            </div>
        
        
        
        </div>
    
    
    
    </div>
    
    
    
  
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!-- Custom Script.js -->
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
